body {
margin: 0;
width: 100%;
height: 200%;
 display: flex;
  justify-content: center;
  align-items: center;
   background-size: cover;
  background-position: center;
  
}
 
  
 

#header-img{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
 


}
  
.food1{
  width: 200px;
  height: 150px;
    position: absolute;
  top:100px;
  left:100px;
  border-radius: 15px;
   border:2px solid red;
  
  
 
  
  
}
.food2{
  width: 200px;
  height: 150px; 
  position: absolute;
 top:300px;
 left: 100px;
  border-radius: 15px;
  border: 2px solid red;
  
 
}
.drink1{
  width: 200px;
  height: 150px;
  position: absolute;
  top:500px;
  left:100px;
    border-radius: 15px;
     border:2px solid red;
 
}


buziness{
  margin-top: auto;
  font-size: 40px;
  color:brown;
  background-color: black;
}
.Order{
  position: absolute;
  font-size: 40px;
  top: 30px;
  left: 1200px;
}
.qwer{
   position: absolute;
  top: 30px;
  left: 100px;
  font-size: 50px;
}
.asd{
  position: absolute;
  font-size: 15px;
  top: 90px;
  left:1250px;
}
div{
  position: absolute;
  top: 120px ;
  left: 1200px;
}
.japan{
  position: absolute;
  top:100px;
  left:310px;
  font-size: 40px;
}
.usa{
   position: absolute;
  top:300px;
  left:310px;
  font-size: 25px;
 
}
.drink{
   position: absolute;
  top:500px;
  left:310px;
  font-size: 25px;
  
}
.text{
  position: absolute;
  top:171px;
  text-align: left;
  left: 305px;
 
}
.text1{
   position: absolute;
  top:387px;
  text-align: left;
  left: 305px;
   
}
.text2{
   position: absolute;
  top:587px;
  text-align: left;
  left: 305px;
   

}
.buziness{
  margin: auto;
  position:absolute;
  font-size: 50px;
  background-color: black;
  color: beige;
  top: 20px;
}
  



